body {
  background-color: var(--black);
  font-family: "Inter", sans-serif;
  @font-face {
    font-family: HYPERGOALS;
    src: url("../fonts/HYPEGOALS.TTF");
  }
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --green: #96ff00;
  --portfolio-gradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  --portfolio-gradient-hover: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  );
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}
