.thank-you {
  padding-top: 20px;
}

.thank-you .container {
  padding-left: 30px;
  padding-right: 30px;
}

.thank-you__title {
  font-family: HYPERGOALS;

  font-size: 10vw;
  line-height: 0.8;
  color: var(--green);

  text-align: center;

  margin-bottom: 70px;
}

.thank-you__subtitle {
  font-size: 2.3vw;
  color: var(--white);
  text-align: center;
}
