.thank-you .container {
  height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 50px;

  padding: 10px;
}

@media screen and (mix-width: 888px) {
  .thank-you .container {
    justify-content: space-between;
    gap: 0px;
  }
}

.thank-you__title {
  font-size: 10vw;

  text-align: center;
  font-family: HYPERGOALS;
  line-height: 0.7;
  color: var(--green);
}

@media screen and (min-width: 888px) {
  .thank-you__title {
    font-size: 104px;
  }
}

.thank-you__video-container {
  width: 95%;
  height: auto;

  outline: 1px solid var(--green);
}

@media screen and (min-width: 888px) {
  .thank-you__video-container {
    width: 800px;
    height: auto;
  }
}

.thank-you__video {
  width: 100%;
  height: auto;
}
